/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-card-gradient {
    @apply bg-gradient-to-b from-[#282F34] to-base-100
  }
}